body {
  color: white;
  margin: 0px;
  padding: 0px;
  background-image: url("/img/bg2.jpg");
}

.left {
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 10px;
  border: 2px solid red;
}

.left img {
  position: relative;
  top: 3px;
  left: 34px;
  width: 65px;
}

.left div {
  text-align: center;
}
.mid {
  display: block;
  width: 50%;
  margin: 10px auto;
  border: 2px solid rgb(9, 136, 255);
}

.right {
  position: absolute;
  display: inline-block;
  right: 30px;
  top: 10px;
  border: 2px solid rgb(197, 15, 142);
}

.navbar li {
  font-size: 20px;
  display: inline-block;
}

.navbar li a {
  padding: 20px 30px;
  text-decoration: none;
}

.navbar li a:hover,
.navbar li a.active {
  color: yellow;
  text-decoration: underline;
}
