body {
  margin: 0;
  padding: 0;
  background-image: url("/img/bg1.jpg");
  color: white;
  /* background-repeat: no-repeat; */
}

.left {
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 20px;
  border: 2px solid yellow;
}
.left img {
  position: relative;
  top: 3px;
  left: 13px;
  width: 85px;
}
.left div {
  text-align: center;
}
.mid {
  display: block;
  width: 50%;
  margin: 20px auto;
  border: 2px solid pink;
}

.right {
  position: absolute;
  display: inline-block;
  right: 30px;
  top: 20px;
  border: 2px solid red;
}

.navbar li {
  display: inline;
}

.navbar li a {
  text-decoration: none;
  padding: 30px 20px;
  font-size: 25px;
}

.navbar li a:hover,
.navbar li a.active {
  color: yellow;
  text-decoration: underline;
}

.btn {
  margin: 5px 15px;
  padding: 8px 9px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
}
/* making a  form */

.container {
  border: 2px solid rgb(255, 255, 255);
  margin: 94px 213px;
  padding: 20px 40px;
  border-radius: 10px;
  width: 30%;
}

.container h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.get_form input {
  display: block;

  text-align: center;
  border: 2px solid black;  
  border-radius: 10px;
  padding: 8px 59px;
  margin: 5px auto;
  font-size: 18px;
}

.container button {
  padding: 9px 14px;
  display: block;
  width: 25%;
  margin: auto 302px;
}

.container button:hover {
  background-color: yellow;
  text-decoration: underline;
}
